<app-header></app-header>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Stocks</h3>
    </div>
    <div class="panel-body">
            <div class="navbar-form navbar-right">
                    <div class="offset-12">
                        <input type="text" placeholder="Search"class="form-control" [(ngModel)]="SearchText" />
                    </div>
                </div>

        <div class="row col-md-12 ">
            <div class="loader" *ngIf="!assets"></div>
            <table class="table table-bordered table-hover" *ngIf="assets">
                <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Asset Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Details</th>
                        <th>Company</th>
                        <th></th>
                    </tr>
                </thead>

                <thead>

                    <tr (dblclick)="onEdit(asset)"
                        *ngFor="let asset of assets | filter : SearchText | paginate: {itemsPerPage:10, currentPage:p};">
                        <td>{{asset.serialNumber}}</td>
                        <td>{{asset.name}}</td>
                        <td>{{asset.quantity}}</td>
                        <td>{{asset.price}}</td>
                        <td>{{asset.details}}</td>
                        <td>{{asset.company}}</td>
                        <td><a class="btn text-danger" (click)="OnDelete(asset.id)"><i
                                    class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </thead>
            </table>
        </div>
    </div>
</div>